.auth-main {
  background-color: gold;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.auth-box {
  background-color: white;
  width: 35%;
  border: 2px solid blue;
  border-radius: 20px;
}

.auth-btn {
  width: 30%;
  border-radius: 12px;
}

