.bottom_sign{
    color: rgb(6, 6, 83);
    justify-content: center;
    display: flex;
    font-size: 100px;
    margin-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}