.layout-content {
  height: 100%;
}

.layout-footer {
  text-align: center;
}

.layout-header {
  width: 100%;
  color: beige;
  align-items: center;
  background-color: rgb(23, 31, 102);
}

.layout-header-title {
  margin-left: 20px;
  font-size: 20px;
}
