.layout-content {
  height: 100%;
}

.layout-footer {
  background-color: gold;
  text-align: center;
}

.layout-header {
  width: 100%;
  color: beige;
  align-items: center;
  background-color: rgb(23, 31, 102);
}

.layout-header-title {
  margin-left: 20px;
  font-size: 20px;
}

.center-spin {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  // text-align: center;
  background: rgba(0, 0, 0, 0.05);
  z-index: 9999;
}
