.show-image {
  max-width: 100px;
  max-height: 100px;
}

.show-description {
  display: flex;
  align-items: center;
  justify-content: center;
}

.show-address {
  text-align: center;
  margin: 10px;
  width: 100%;
}

.show-address-text{
    width: 100%;
}
