.show-image {
  max-width: 300px;
  max-height: 300px;
}

.show-mini-image {
  max-width: 150px;
  max-height: 150px;
}

.show-description {
  display: flex;
  align-items: center;
  justify-content: center;
}

.show-address {
  text-align: center;
  margin: 10px;
  width: 100%;
}

.show-address-text {
  width: 100%;
}
